{
  "action": "actions",
  "list": [
    // wood
    {
      "action": "loop",
      "count": 24,
      "body": [
        { "action": "spark" },
        {
          "action": "option",
          "options": [
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".0" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".1" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".2" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".3" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".4" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".5" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".6" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".7" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".8" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_wood", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".9" } }
          ]
        }
      ]
    },
    // blue
    {
      "action": "option",
      "options": [
        { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".0" } },
        {
          "action": "actions",
          "list": [
            { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".1" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".2" } }
          ]
        }
      ]
    },
    {
      "action": "option",
      "options": [
        { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".3" } },
        {
          "action": "actions",
          "list": [
            { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".4" } },
            { "action": "projectile", "type": "pat_terramartgun_crate_blue", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ], "config": { "processing": ".5" } }
          ]
        }
      ]
    },
    // metal
    { "action": "projectile", "type": "pat_terramartgun_crate_metal", "fuzzAngle": 360, "offsetRange": [ -0.5, -0.5, 0.5, 0.5 ] },
    // particles
    {
      "action": "loop",
      "count": 8,
      "body": [
        { "action": "particle", "specification": "pat_terramartgun_explosionfire" },
        { "action": "particle", "specification": "pat_terramartgun_woodshard", "rotate": true },
        { "action": "particle", "specification": "pat_terramartgun_woodshard", "rotate": true },
        { "action": "particle", "specification": "pat_terramartgun_blueshard", "rotate": true },
        { "action": "particle", "specification": "pat_terramartgun_metalshard", "rotate": true },
        { "action": "particle", "specification": "pat_terramartgun_woodspark" },
        { "action": "particle", "specification": "pat_terramartgun_woodspark" },
        { "action": "particle", "specification": "pat_terramartgun_bluespark" },
        { "action": "particle", "specification": "pat_terramartgun_metalspark" }
      ]
    }
  ]
}