{
  "action": "actions",
  "list": [
    { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "inheritDamageFactor": 1, "fuzzAngle": 360 },
    {
      "action": "loop",
      "count": 4,
      "body": [
        {
          "action": "option",
          "options": [
            "spark",
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 1 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 2 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 3 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 4 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 5 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 6 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 7 },
            { "action": "projectile", "type": "pat_terramartgun_crateexplosion", "fuzzAngle": 360, "offsetRange": [ -3, -3, 3, 3 ], "config": { "onlyHitTerrain": true }, "delaySteps": 8 }
          ]
        }
      ]
    }
  ]
}
