{
  "action": "loop",
  "count": 11,
  "body": [
    {
      "action": "option",
      "options": [
        { "action": "spark" },
        { "action": "spark" },
        { "action": "spark" },
        { "action": "spark" },
        { "action": "spark" },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".0" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".1" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".2" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".3" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".4" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".5" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".6" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".7" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".8" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".9" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".10" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".11" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".12" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".13" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".14" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".15" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".16" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".17" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".18" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".19" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".20" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".21" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".22" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".23" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".24" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".25" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".26" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".27" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".28" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".29" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".30" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".31" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".32" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".33" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".34" } },
        { "action": "projectile", "type": "pat_terramartgun_junk", "fuzzAngle": 360, "offsetRange": [ -0.2, -0.2, 0.2, 0.2 ], "config": { "processing": ".35" } }
      ]
    }
  ]
}
