{
  "action": "loop",
  "count": 10,
  "body": [
    {
      "action": "option",
      "options": [
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".automato", "seedType": "automatoseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".avesmingo", "seedType": "avesmingoseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".banana", "seedType": "bananaseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".beakseed", "seedType": "beakseedseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".boltbulb", "seedType": "boltbulbseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".boneboo", "seedType": "bonebooseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".carrot", "seedType": "carrotseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".chili", "seedType": "chiliseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".cocoa", "seedType": "cocoaseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".coffee", "seedType": "coffeeseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".coralcreep", "seedType": "coralcreepseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".corn", "seedType": "cornseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".cotton", "seedType": "cottonseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".crystalplant", "seedType": "crystalplantseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".currentcorn", "seedType": "currentcornseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".diodia", "seedType": "diodiaseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".dirturchin", "seedType": "dirturchinseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".eggshoot", "seedType": "eggshootseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".feathercrown", "seedType": "feathercrownseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".grapes", "seedType": "grapesseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".kiwi", "seedType": "kiwiseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".neonmelon", "seedType": "neonmelonseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".oculemon", "seedType": "oculemonseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".pearlpea", "seedType": "pearlpeaseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".pineapple", "seedType": "pineappleseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".potato", "seedType": "potatoseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".pussplum", "seedType": "pussplumseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".reefpod", "seedType": "reefpodseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".rice", "seedType": "riceseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".sugarcane", "seedType": "sugarcaneseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".tomato", "seedType": "tomatoseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".toxictop", "seedType": "toxictopseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".wartweed", "seedType": "wartweedseed" } },
        { "action": "projectile", "type": "pat_terramartgun_seed", "fuzzAngle": 360, "config": { "processing": ".wheat", "seedType": "wheatseed" } }
      ]
    }
  ]
}
